*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.bg-primary1{
  background-color: blueviolet;
}

.h-95vh{
  height: 95vh;
}

.card1 {
  padding: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

/* HOMEHEADER */
.header{
  background: url('../assets/images/homepic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}